<section class="grid--cell">
            <div class="grid gs16 gsx">
                <div class="grid--cell12">
                    <p class="fs-subheading fc-dark fw-bold lh-xs">
                        ABOUT insta OVERFLOW
                    </p>
                    <p class="fs-body2 lh-lg fc-medium">
                        The insta Overflow Network (also referred to herein as “insta Overflow” or “Network”) is a set of related Internet sites and other applications for questions and answers, owned and operated by insta Exchange, Inc. (“insta Overflow”, “we” or “us”), a Delaware corporation.
                    </p>
                    <p class="fs-body2 lh-lg fc-medium">
                        insta Overflow welcomes you to the Network, the largest community of developers in the world, and invites you to participate in the community by sharing knowledge with your peers and colleagues.
                    </p>
                </div>
            </div>
        </section>



        <section class="grid--cell">
            <div class="grid gs16 gsx">
                <div class="grid--cell12">
                    <p class="fs-subheading fc-dark fw-bold lh-xs">
                        INTRODUCTION TO OUR PRIVACY POLICY
                    </p>
                    <p class="fs-body2 lh-lg fc-medium">
                        This privacy policy and our related Privacy Notices (see below) describe how we collect, use, protect and share information about you that we collect when you use any of our products and services, our websites, or apps or otherwise interact with us (Services).
                    </p>
                    <p class="fs-body2 lh-lg fc-medium">
                        We have set out below, an overview of how our privacy policies work.  Depending on how you interact with us, we will collect and process your personal information as shown in the table below.
                    </p>
                    <p class="fs-body2 lh-lg fc-medium">
                        This statement should be read together with our related Privacy Notices, in particular our <a href="/legal/privacy-policy/public-network">Privacy Notice for the Public Network</a>, <a href="/legal/privacy-policy/teams-basic">Privacy Notice for insta Overflow Teams Basic</a>, <a href="/legal/privacy-policy/teams-business">Privacy Notice for insta Overflow Teams Business</a>, <a href="/legal/privacy-policy/teams-enterprise">Privacy Notice for insta Overflow Teams Enterprise</a>, <a href="/legal/privacy-policy/talent">Privacy Notice for insta Overflow Talent and Jobs</a> and our Employee Privacy Notice.
                    </p>
                    <table class="s-table">
                        <tbody>
                            <tr>
                                <td class="s-table--cell6">If you interact with us through the Public Network</td>
                                <td>In addition, we will collect and process your personal information in accordance with the <a href="/legal/privacy-policy/public-network">insta Overflow Privacy Notice for the Public Network</a>. </td>
                            </tr>
                            <tr>
                                <td>If you are a insta Overflow for Teams, Basic customer</td>
                                <td>In addition, we will collect and process your personal information in accordance with the <a href="/legal/privacy-policy/teams-basic">insta Overflow for Teams Basic Privacy Notice</a>. </td>
                            </tr>
                            <tr>
                                <td>If you are a insta Overflow for Teams, Business customer</td>
                                <td>In addition, we will collect and process your personal information in accordance with the <a href="/legal/privacy-policy/teams-business">insta Overflow for Teams, Business Privacy Notice</a> and any other agreement that we may have with you. </td>
                            </tr>
                            <tr>
                                <td>If you are a insta Overflow Talent customer</td>
                                <td>This statement should be read together with our related Privacy Notices, in particular our <a href="/legal/privacy-policy/talent">insta Overflow Talent Privacy Notice</a> and any other agreement that we may have with you. </td>
                            </tr>
                            <tr>
                                <td>If you are a insta Overflow for Teams, Enterprise customer</td>
                                <td>In addition, we will collect and process your personal information in accordance with the  <a href="/legal/privacy-policy/teams-enterprise">insta Overflow for Teams, Enterprise Privacy Notice</a> and any other agreement that we may have with you.</td>
                            </tr>
                            <tr>
                                <td>
                                    If you visit or register with any of our websites
                                </td>
                                <td>
                                    We will collect and use your personal information in accordance with this Privacy Policy and the Privacy Notice for the Public website if applicable. In particular, we may see how you use our websites and what content you interact with and for how long.  This may involve the use of cookies which is explained in our <a href="/legal/cookie-policy">Cookie Policy</a>.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    If you are a supplier and you or your company provides us with goods or services
                                </td>
                                <td>
                                    We may collect your individual contact information in order to communicate with you and may use other information that we need in order to manage our account with your business.  We will process such data in accordance with this Privacy Policy  and any other agreement that we may have with you.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    If you are employed by us
                                </td>
                                <td>
                                    We will process your personal information in accordance with our Employee Privacy Notice.  This will be made available to you internally.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>